html,body{
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.parent{
display: flex;
height: 100%;
}

.sidenav {
    height: 100%;
    width: 60px;
    overflow: hidden;
    background-color: #4cb69f;
    transition: 0.5s;
    padding-top: 10px;
}

.sidenav a {
  padding: 8px 8px 8px 12px;
  text-decoration: none;
  font-size: 35px;
  color: #fff;
  display: flex;
  transition: 0.3s;
  margin-top: 10px;
}

.sidenav a:hover {
  color: #595959;
}

.a span{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  margin-top: 8px;
  padding-left:20px;
}

main{
  flex: 1;
  position: relative;
  background-color: #222629;
}



.mobile_view{
width: 0px;
height: 0px;
margin: 0px;
}
.btn2{
  visibility: hidden;
}

@media screen and (max-width: 450px)  {
  main{
   position: absolute !important;
   width: 100%;
   height: 100%;
  }
  .sidenav{
    width: 0px;
    z-index: 1;
  }
  .table_parent{
  width: 250px !important;
  height:250px !important;
}
.mobile_view{
  padding-right:5px;
  padding-top: 5px;
}
.overlay{
  display: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  filter: blur(2px);

}

.btn2{
  visibility: visible;
  background-color: #4cb69f;
  padding: 5px;
 font-size: 30px;
  text-decoration: none;
  color: #818181;
  transition: 0.3s;
  color: #fff;
}
}


/* table style*/

.table_parent{
  width: 50%;
  height: 75%;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  margin: auto;
}

.table_child{
  position: relative;
  width: 100%;
  height: 100%;
  border-collapse:collapse;
  border:1px solid black;
}

td,th{
  color: white;
  font-size: 20px;
  text-align: center;
  border:1px solid black; 
  cursor: pointer;
  border-collapse: collapse;
}
tr{
  color: white;
  border-right: 1px solid black;
}
th{
  background-color: #4cb69f;
}

.sidenav a.active{
  color: #47434f;
}

.sidenav .play a.active{
  color:#47434f;
}

.sidenav .learn  a.active{
  color:#47434f;
}

.player_x {
  color: white;
  font-size: 20px;
  text-align: center;
  border-right:1px solid black; 
  cursor: pointer;
  background-color: #595959;
}


caption {
  background-color: #f79646;
  color: #fff;
  font-size: x-large;
  font-weight: bold;
  letter-spacing: .3em;
}

tfoot {
  font-weight: bold;
  font-size: large;
  background-color: #687886;
  color: #fff;
}